In [1]:
import pandas as pd

In [2]:
example = pd.read_csv('dms-view_example.csv')

In [3]:
ab_initial = pd.read_csv('../../results/antibody_escape/5G04_avg.csv')
ab_initial

,epitope,site,wildtype,mutant,mutation,escape_mean,escape_median,escape_std,n_models,times_seen,frac_models
0,1,-19,M,I,M-19I,-0.0005,-0.0005,NaN,1,1.0000,0.3333
1,1,-18,K,N,K-18N,-0.0022,-0.0022,NaN,1,1.0000,0.3333
2,1,-17,A,T,A-17T,-0.0005,-0.0005,NaN,1,1.0000,0.3333
3,1,-14,L,M,L-14M,-0.0016,-0.0016,NaN,1,1.0000,0.3333
4,1,-13,V,F,V-13F,-0.0077,-0.0077,NaN,1,2.0000,0.3333
...,...,...,...,...,...,...,...,...,...,...,...
3844,1,540,Q,R,Q540R,-0.0044,-0.0045,0.0024,3,14.3333,1.0000
3845,1,540,Q,*,Q540*,-0.1163,-0.0019,0.1985,3,4.3333,1.0000
3846,1,541,K,E,K541E,-0.0034,-0.0034,0.0037,2,1.0000,0.6667
3847,1,541,K,I,K541I,-0.0039,-0.0039,0.0029,2,1.0000,0.6667
3848,1,541,K,N,K541N,-0.1103,-0.1103,NaN,1,2.0000,0.3333

In [4]:
ab = ab_initial[['site', 'wildtype', 'mutant', 'escape_mean', 'escape_median', ]]

In [5]:
ab['label_site'] = ab['site']
ab['condition'] = '5G04_avg'
ab['protein_chain'] = 'A'
ab['protein_site'] = ab['site']

/tmp/ipykernel_68991/3725174649.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab['label_site'] = ab['site']
/tmp/ipykernel_68991/3725174649.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab['condition'] = '5G04_avg'
/tmp/ipykernel_68991/3725174649.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab['protein_chain'] = 'A'
/tmp/ipykernel_68991/3725174649.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ab['protein_site'] = ab['site']

In [6]:
ab = ab.rename(columns={'mutant': 'mutation',
                        'escape_mean': 'mut_mean',
                        'escape_median': 'mut_std',
                       })

In [8]:
ab.to_csv('5G04_escape_avg.csv', index=False)

In [13]:
ab_final = ab[['site', 'wildtype', 'mutation', ]]

,epitope,site,wildtype,mutation,mutation,mut_mean,mut_std,escape_std,n_models,times_seen,frac_models,label_site,condition,protein_chain,protein_site
0,1,-19,M,I,M-19I,-0.0005,-0.0005,NaN,1,1.0000,0.3333,-19,5G04_avg,A,-19
1,1,-18,K,N,K-18N,-0.0022,-0.0022,NaN,1,1.0000,0.3333,-18,5G04_avg,A,-18
2,1,-17,A,T,A-17T,-0.0005,-0.0005,NaN,1,1.0000,0.3333,-17,5G04_avg,A,-17
3,1,-14,L,M,L-14M,-0.0016,-0.0016,NaN,1,1.0000,0.3333,-14,5G04_avg,A,-14
4,1,-13,V,F,V-13F,-0.0077,-0.0077,NaN,1,2.0000,0.3333,-13,5G04_avg,A,-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3844,1,540,Q,R,Q540R,-0.0044,-0.0045,0.0024,3,14.3333,1.0000,540,5G04_avg,A,540
3845,1,540,Q,*,Q540*,-0.1163,-0.0019,0.1985,3,4.3333,1.0000,540,5G04_avg,A,540
3846,1,541,K,E,K541E,-0.0034,-0.0034,0.0037,2,1.0000,0.6667,541,5G04_avg,A,541
3847,1,541,K,I,K541I,-0.0039,-0.0039,0.0029,2,1.0000,0.6667,541,5G04_avg,A,541
3848,1,541,K,N,K541N,-0.1103,-0.1103,NaN,1,2.0000,0.3333,541,5G04_avg,A,541

In [5]:
example

,mut_Positive Differential Selection,site_Positive Differential Selection,condition,label_site,wildtype,mutation,mut_Differential Selection,site_Absolute Differential Selection,site_Negative Differential Selection,site_Max Differential Selection,site_Min Differential Selection,site,protein_chain,protein_site,mut_DMS prefs,mut_Natural Frequencies
0,3.66710,15.837000,2010-age-21,193,F,D,3.66710,17.3840,-1.5467,3.667100,-0.52377,208,A,193,0.311018,0.002736
1,0.65693,0.866440,2009-age-53,193,F,D,0.65693,4.4879,-3.6215,0.656930,-0.72082,208,A,193,0.311018,0.002736
2,0.00000,1.314200,2009-age-64,193,F,D,-1.76840,7.3968,-6.0826,1.313900,-1.76840,208,A,193,0.311018,0.002736
3,3.03090,14.185000,2009-age-65,193,F,D,3.03090,15.3780,-1.1928,3.030900,-1.19280,208,A,193,0.311018,0.002736
4,3.17930,15.837000,2010-age-21,193,F,N,3.17930,17.3840,-1.5467,3.667100,-0.52377,208,A,193,0.186518,0.032229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45195,0.00000,0.331900,2009-age-65,88,V,I,-0.96335,2.6539,-2.3220,0.217210,-0.96335,103,A,88,0.034684,0.010642
45196,NaN,0.000000,2010-age-21,88,V,V,NaN,3.4917,-3.4917,0.000000,-0.97690,103,A,88,0.805361,0.989358
45197,NaN,0.046171,2009-age-53,88,V,V,NaN,2.9011,-2.8549,0.046171,-1.13300,103,A,88,0.805361,0.989358
45198,NaN,0.000000,2009-age-64,88,V,V,NaN,4.2541,-4.2541,0.000000,-1.37880,103,A,88,0.805361,0.989358
45199,NaN,0.331900,2009-age-65,88,V,V,NaN,2.6539,-2.3220,0.217210,-0.96335,103,A,88,0.805361,0.989358