In [5]:
import pandas as pd

In [2]:
import os
os.chdir('../')

In [30]:
samples = [
    'libA_221108_1_no-VEP_control_1.csv',
    'libA_221108_1_no-VEP_control_2.csv',
    'libB_221108_1_no-VEP_control_1.csv',
    'libB_221108_1_no-VEP_control_2.csv'
]

In [31]:
neut_std_barcodes = pd.read_csv('data/neutralization_standard_barcodes.csv')
neut_std_barcodes = neut_std_barcodes['barcode'].to_list()

neut_std_fracs = []

for sample in samples:
    df = pd.read_csv(f'results/variant_counts/{sample}')
    total_counts = df['count'].sum()
    
    neut_std = df.loc[df['barcode'].isin(neut_std_barcodes)]
    neut_std_count = neut_std['count'].sum()
    
    neut_std_fracs.append(neut_std_count / total_counts)
    
neut_std_fracs

[0.0005385600423053528,
 0.0005953449731608932,
 0.00036544829992046123,
 0.0003768101827210416]

In [12]:
df = pd.read_csv('results/variant_counts/libA_221108_1_no-VEP_control_1.csv')
df

,barcode,count,codon_substitutions,aa_substitutions,variant_call_support
0,ATAACACAAAAAAGTA,146532,AAG297ATA,K297I,4
1,AGCCTATTAGGATTCG,53119,NaN,NaN,5
2,TATCTACCTAACGAAA,51094,AGA111AGC GTG366ATG CGA402TCA,R111S V366M R402S,5
3,AAAAATCTGAGACAAA,43702,AAA46GCA ATC301GTG GAG409ATG,K46A I301V E409M,4
4,GTCCCGCATCAGTTTC,42904,CAG63GTG AAA154AAT AGG318ATG,Q63V K154N R318M,5
...,...,...,...,...,...
66580,TTTTTTCATGCATAGA,0,AAT25AAA GAA69TCA TTT98ATA CAA216ACA AGA326AAA...,N25K E69S F98I Q216T R326K S377C T435S S461D,5
66581,TTTTTTGAACCTACAA,0,ACA179TCG TCC212TTT AGA227CAA AAA491ACA,T179S S212F R227Q K491T,3
66582,TTTTTTTCAAAATAAC,0,ACG206AAT GTG509GCA,T206N V509A,2
66583,TTTTTTTCTAAGGATC,0,ACA49GAA TTA176AAT GCA549TCA,T49E L176N A549S,3
66584,TTTTTTTCTGAAGTAG,0,CCT23GCA GTG121ATA GGC135GGA AAT141ATA AGT163G...,P23A V121I N141I S163D Y178L T179R H202E S212C...,6

In [16]:
neut_std_barcodes = pd.read_csv('data/neutralization_standard_barcodes.csv')
neut_std_barcodes = neut_std_barcodes['barcode'].to_list()

In [17]:
neut_std_barcodes

['TGACGAATCATTCCGC',
 'ATCGCTTGACGCAACT',
 'GATTAGGCTGCATTAA',
 'CCGATCCAGTAGGGTG']

In [24]:
df_small = df.loc[df['barcode'].isin(neut_std_barcodes)]
df_small['count'].sum()

3206

In [25]:
df_small

,barcode,count,codon_substitutions,aa_substitutions,variant_call_support
801,GATTAGGCTGCATTAA,1104,neut_standard,neut_standard,35
899,TGACGAATCATTCCGC,1003,neut_standard,neut_standard,35
1392,CCGATCCAGTAGGGTG,682,neut_standard,neut_standard,35
2342,ATCGCTTGACGCAACT,417,neut_standard,neut_standard,35