In [2]:
import pandas as pd

In [4]:
def convert_df(file, ab):
    df = pd.read_csv(file)
    
    df = df.drop(columns=['epitope', 'n mutations', 'total negative'])
    df = df.rename(columns={'mean': 'site_mean', 
                            'total positive': 'site_Positive Differential Selection',
                            'max': 'mut_max', 
                            'min': 'mut_min'
                           })
    df['label_site'] = df['site']
    df['protein_site'] = df['site']
    df['mutation'] = 'F'
    df['protein_chain'] = 'A'
    
    df['condition'] = f'{ab}'
    
    df.to_csv(f'{ab}_dms-view.csv')
    
    return df

In [6]:
ab_list = ['1c04', '5g04', 'cocktail']

for ab in ab_list:
    convert_df(f'{ab}_escape_df.csv', f'{ab}')

In [5]:
ausab_07 = convert_df('ausab-07_escape_df.csv', 'AUSAB-07')
ausab_07

,site,wildtype,site_mean,site_Positive Differential Selection,mut_max,mut_min,label_site,protein_site,mutation,protein_chain,condition
0,1,Q,0.141380,0.584279,0.413480,-0.018758,1,1,F,A,AUSAB-07
1,2,K,-0.077918,0.000000,-0.036622,-0.147036,2,2,F,A,AUSAB-07
2,3,I,-0.001927,0.487419,0.108965,-0.255740,3,3,F,A,AUSAB-07
3,4,P,0.008936,0.898678,0.250725,-0.211913,4,4,F,A,AUSAB-07
4,5,G,-0.024969,0.159752,0.041240,-0.105725,5,5,F,A,AUSAB-07
...,...,...,...,...,...,...,...,...,...,...,...
480,537,W,-0.057107,0.069038,0.069038,-0.183252,537,537,F,A,AUSAB-07
481,538,A,0.063790,0.283050,0.122969,-0.027892,538,538,F,A,AUSAB-07
482,539,C,-0.174692,0.000000,-0.174692,-0.174692,539,539,F,A,AUSAB-07
483,540,Q,-0.061563,0.000000,-0.034332,-0.095006,540,540,F,A,AUSAB-07
484,541,K,-0.283346,0.094308,0.094308,-0.660999,541,541,F,A,AUSAB-07

In [10]:
df = pd.read_csv('../../ausab-13_escape_df.csv')
df = df.drop(columns=['Unnamed: 0'])

In [12]:
df['label_site'] = df['site']
df = df.rename(columns={'mean': 'site_mean', 'total positive': 'site_Positive Differential Selection'})
df = df.drop(columns=['epitope', 'n mutations', 'total negative'])
df

,site,wildtype,site_mean,site_Positive Differential Selection,max,min,label_site
0,1,Q,-0.020009,0.006817,0.006817,-0.051040,1
1,2,K,0.011705,0.035114,0.026046,0.001022,2
2,3,I,-0.019839,0.137560,0.064477,-0.162857,3
3,4,P,-0.030606,0.305513,0.097326,-0.260809,4
4,5,G,0.006841,0.509327,0.127567,-0.131168,5
...,...,...,...,...,...,...,...
508,537,W,-0.028217,0.000000,-0.002486,-0.094450,537
509,538,A,0.003897,0.058011,0.037821,-0.025998,538
510,539,C,0.004225,0.024065,0.018991,-0.007164,539
511,540,Q,-0.016687,0.000556,0.000556,-0.043676,540
512,541,K,0.003285,0.006569,0.003360,0.003209,541

In [14]:
df = df.rename(columns = {'max': 'mut_max', 'min': 'mut_min'})
df['mutation'] = 'F'
df['condition'] = 'AUSAB-13'
df['protein_chain'] = 'A'
df['protein_site'] = df['site']
df

,site,wildtype,site_mean,site_Positive Differential Selection,mut_max,mut_min,label_site,mutation,condition,protein_chain,protein_site
0,1,Q,-0.020009,0.006817,0.006817,-0.051040,1,F,AUSAB-13,A,1
1,2,K,0.011705,0.035114,0.026046,0.001022,2,F,AUSAB-13,A,2
2,3,I,-0.019839,0.137560,0.064477,-0.162857,3,F,AUSAB-13,A,3
3,4,P,-0.030606,0.305513,0.097326,-0.260809,4,F,AUSAB-13,A,4
4,5,G,0.006841,0.509327,0.127567,-0.131168,5,F,AUSAB-13,A,5
...,...,...,...,...,...,...,...,...,...,...,...
508,537,W,-0.028217,0.000000,-0.002486,-0.094450,537,F,AUSAB-13,A,537
509,538,A,0.003897,0.058011,0.037821,-0.025998,538,F,AUSAB-13,A,538
510,539,C,0.004225,0.024065,0.018991,-0.007164,539,F,AUSAB-13,A,539
511,540,Q,-0.016687,0.000556,0.000556,-0.043676,540,F,AUSAB-13,A,540
512,541,K,0.003285,0.006569,0.003360,0.003209,541,F,AUSAB-13,A,541

In [15]:
df.to_csv('ausab13-dms-view.csv', index=False)

In [5]:
df = df.rename(columns={0: 'site_mean'})
df

     site_mean
0     0.006817
1     0.035114
2     0.137560
3     0.305513
4     0.509327
..         ...
508   0.000000
509   0.058011
510   0.024065
511   0.000556
512   0.006569

[513 rows x 1 columns]

In [6]:
df['site'] = range(1, 1+len(df))
df

     site_mean  site
0     0.006817     1
1     0.035114     2
2     0.137560     3
3     0.305513     4
4     0.509327     5
..         ...   ...
508   0.000000   509
509   0.058011   510
510   0.024065   511
511   0.000556   512
512   0.006569   513

[513 rows x 2 columns]

In [7]:
df['label_site'] = df['site']